.itemBtn {
  width: 25px;
  height: 25px;
}
.cursor-pointer {
  cursor: pointer;
}
.detailsContainer {
  border-radius: 20px 20px 0px 0px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.coverImg {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid grey;
}
