.list-Container {
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
}
.listItems {
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}